body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

.header-section, .hero-section {
  background-color: #1f2937;
}

.header-content, .header-links, .hero-content {
  display: flex;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  gap: 1rem;
  margin-left: auto;
  align-items: center;
}

.header-links > li {
  list-style-type: none;
}

.header-links > li > a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-section, .info-section, .quote-section, .call-to-action-section {
  padding: 80px 0px;
}

.hero-right, .quote-section-container, .call-to-action-right, .footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-sign-up-button {
  background-color: #3882f6;
  padding: 16px 32px;
  color: #f9faf8;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 16px;
}

.info-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section-title {
  font-size: 36px;
  font-weight: lighter;
  font-weight: bolder;
  color: #1f2937;
}

.info-section-items-container {
  display: flex;
  gap: 2rem;
}

.info-section-item {
  width: 200px;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-section-content {
  max-width: 768px;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  padding: 48px 0px;
  font-weight: bold;
  text-align: right;
}

.call-to-action-box {
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 32px 112px;
}

.call-to-action-left {
  flex: auto;
}

.call-to-action-right {
  flex: 1;
}

.call-to-action-sign-up-button {
  background-color: #3882f6;
  padding: 8px 32px;
  color: #f9faf8;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 16px;
  border : 2px solid white;
}

.footer-section {
  background-color: #1f2937;
  padding: 32px 0px;
  color: #f9faf8;
}